.login-bg {
  height: 100vh;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.login-card h2 {
  font-weight: bold;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}