/* Fondo ocupa toda la pantalla */
.login-bg {
  height: 100vh;
  background: linear-gradient(135deg, #4e73df, #224abe);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta */
.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Título */
.login-card h2 {
  font-weight: 600;
  color: #333;
}

/* Inputs */
.login-card input {
  height: 45px;
  border-radius: 8px;
}

/* Botón */
.login-card button {
  height: 45px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

.login-card button:hover {
  transform: scale(1.05);
}