/* Panel css */

body{
  background-color: #FFFFFF;
}

main.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  background-color: #FFFFFF;
  min-height: 100vh;
}


h2 {
  color: #111827;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: left;
}

.text-muted {
  color: #6B7280;
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: left;
}


.contenedor-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(280px, 1fr));

  gap: 25px;

  padding: 20px 0;

  width: 100%;
}



.nav-link {
  color: #000 !important;
  font-weight: 600;
  transition: 0.2s;
}

.nav-link:hover {
  color: #3B82F6 !important;
}